---
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';

interface Props {
  title?: string;
}
const { title } = Astro.props;
---
<BaseLayout title={title}>
  <div class="wrapper">
    <Sidebar />
    <div class="content-box clearfix">
      <slot />
    </div>
  </div>
</BaseLayout>
